<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.gaojc.sharesession"/>
    <context:annotation-config/>

    <!--共享session properties配置-->
    <context:property-placeholder location="classpath:/properties/share-session.properties"
                                  file-encoding="UTF-8" ignore-unresolvable="true"/>
    <!--共享session bean配置-->
    <import resource="classpath*:share_session.xml"/>
    <!--<import resource="classpath:myConfigFile.xml"/>-->
</beans>
